[submodule "embedded/esp-adf"]
	path = embedded/esp-adf
	url = https://github.com/espressif/esp-adf.git
[submodule "embedded/docs/doxygen-awesome-css"]
	path = embedded/docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
